
    <div class="container">

        <!-- start grid-->
        <div class="grid">
            <div class="col-12 my-6">

            </div>
        </div><!--/finish grid-->

        <!--start p-fluid grid formgrid-->
        <div class="p-fluid grid formgrid">

            <div class="field col-12 md:col-5">
                <input type="text" class="w-full" pInputText placeholder="Pesquisar...">
            </div>
            <div class="field col-12 md:col-3">
                <p-calendar [showIcon]="true" inputId="icon" placeholder="De :"></p-calendar>
            </div>
            <div class="field col-12 md:col-3">
                <p-calendar [showIcon]="true" inputId="icon" placeholder="Ate: "></p-calendar>
            </div>
            <div class="">
                <label for=""></label>
                <button pButton>Buscar</button>
            </div>
        </div><!--/finish p-fluid grid formgrid-->

        <!--start mb-2-->
        <div class="mb-2">
            <p-menubar [model]="items">
                <ng-template pTemplate="start">
                    <img src="../../../assets/Eu-Sou.jpg" height="40" class="mr-2">
                </ng-template>
            </p-menubar>
        </div><!--/finish mb-2-->

        <!--start cacrd-->
        <div class="card">
            <app-paciente-view-grid [pacientes] = "pacientes"></app-paciente-view-grid>
        </div><!--/finish cacrd-->

    </div>

