<div class="container">

    <!-- start grid-->
    <div class="grid">
        <div class="col-12 my-6">
        </div>
    </div><!--/finish grid-->

    <div class="grid">
        <div class="col-12 md:col-12">
            <app-kids-week-report></app-kids-week-report>
        </div>
        <div class="col-12 md:col-12">
            <app-kids-month-report></app-kids-month-report>
        </div>
        <div class="col-12 md:col-12">
            <app-kids-year-report></app-kids-year-report>
        </div>
        <div class="col-12 md:col-12">
            <app-endpoints-charts></app-endpoints-charts>
        </div>

        <div class="col-12 md:col-12">
            <app-kids-charts></app-kids-charts>
        </div>

        <div class="col-12 md:col-12">
            <app-pacientes-charts></app-pacientes-charts>
        </div>

        <div class="col-12 md:col-12">
            <app-http-traces></app-http-traces>
        </div>

    </div>

</div>
