<footer>
    <div class="container">
        <div class="grid">
            <div class="col-12 md:col-6">
                <div class="left">
                    <h4>SISTEMA DE GESTAO E CONTROLO DE SAUDE MATERNA INFANTIL</h4>
                    <span>O nosso maior valor e a Vida</span>
                </div>
            </div>

            <div class="col-12 md:col-6">
                <div class="rigth">
                    <h5><span>Designer by: Nelson Zaona</span></h5>
                    <small>Email: nelsonzja@hotmail.com</small>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="center">
                <span>Maltainos&trade;&copy; 2022</span>
                <h4>Universidade Zambeze</h4>
                <h5>Faculdade de Ciencia e Tecnologia</h5>
                <h6>Trabalho de Conclusao do Curso</h6>
            </div>
        </div>
    </div>
</footer>
