.navbar {
    padding: 10px 0;
    background-color: #fff;
    color: #555;
    box-shadow: 3px 2px 10px rgba(100, 130, 200, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-bottom: 90px;
    height: 70px;
}
.row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.m-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-top: -0.5rem;
}
.navbar-brand {
    margin-top: 7px;
}
.navbar-toggle {
    background-color: #fff;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

.navbar-location {
    font-size: 1.4rem;
    font-weight: 200;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -8px;
}

.navbar-username {
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
}

.navbar-username img {
    border-radius: 50%;
}

.navbar-username span {
    margin-left: 10px;
    margin-top: 8px;
}

.navbar-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #3a3633;
    z-index: 1;
    width: 300px;
    list-style: none;
    padding: 0;
    overflow-y: scroll;
}

.navbar-user {
    height: 70px;
    padding: 25px 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 200;
    color: #fff;
    border-bottom: 1px solid #444;
}
.navbar-menuitem {
    padding: 15px;
    width: 100%;
}

.navbar-menuitem a {
    text-decoration: none;
    color: #c0bbb7;
    width: 100%;
    padding: 15px;
}

.navbar-menuitem:hover {
    background-color: #444;
    cursor: pointer;
    color: #f1f5f9;
}
.right {
    float: right;
}
