<div class="container">
    <div class="grid">
        <div class="col-12">
            <p-divider type="dashed">
              <div class="inline-flex align-items-center">
                <i class="pi pi-clock mr-2" style="font-size: 2rem"></i>
                <h3>Usuarios</h3>
            </div>
            </p-divider>
        </div>
    </div>

    <div class="flex flex-wrap align-items-center justify-content-center">
        <div class="col-12 md:col-5">
            <p-card header="Alterar Palavra-passe" [style]="{'margin-top': '2em', 'margin-left': '2em'}">
                <div class="form">
                    <form>
                        <div class="p-fluid grid">
                            <div class="col-12 md:col-12">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="nomePai">
                                    <label for="nomePai">Password</label>
                                </span>
                            </div>

                            <div class="col-12 md:col-12">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="ocupacaoPai">
                                    <label for="ocupacaoPai">Confirme Password</label>
                                </span>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" pButton label="Alterar" class="p-button-success mr-2" icon="pi pi-check"></button>
                            <button type="reset" pButton label="Limpar" class="p-button-warning" icon="pi pi-times"></button>
                        </div>

                    </form>
                </div>
            </p-card>
        </div>
    </div>
</div>
